{% extends "admin_template.html" %}
{% block content %}
    <h1>Welcome to Flask-Polls</h1>
    <br/>
    <h2>Admin Console</h2>
      <br/>
      <h3>Edit a poll:</h3>
        <br/>
         <div class="app-polls module">
        <table>
          <tr class="model-poll">
           {% for p in polls %}
           <th scope="row">{{ p.question }}</th>
           <td><a class ="addlink" href="{{ url_for('update',
                                         poll_id = p.id) }}">Update</a></td>
           <td><a class ="deletelink" href="{{ url_for('delete',
                                         poll_id = p.id) }}">Delete</a></td>
           </tr>
          {% endfor %}
        </table>
      </div>
      <br/>
      <h3>Create a new poll</h3>
        <br/>
        <!--pass form data to 'add_poll' -->
        <form method="post" action="{{ url_for('add_poll') }}">
          <p>{{ form.question.label }}: {{ form.question }}<br/>
          <p><input type="submit" value="Submit"></p>
        </form>
        <p> Add choices to your new poll from admin page!.</p>
{% endblock %}

