<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Site administration | Flask site admin</title>
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename="admin/css/base.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',
                                 filename="admin/css/login.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
                                 filename="admin/css/dashboard.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
                                 filename="admin/css/forms.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
                                 filename="admin/css/changelists.css") }}">
</head>

<body class="dashboard">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="/admin/">Flask administration</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                <!--
                <a href="/admin/password_change/">Change password</a> /
                -->
                <a href="{{ url_for('logout') }}">Log out</a>
        </div>
    </div>
    <!-- END Header -->
  <body>
    <div class="page">
    <!-- FLASH MESSAGES CODE -->
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        <br/>
      {% endfor %}
    <!-- ERROR MESSAGES CODE -->
      {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
      {% endif %}
    <!-- PAGE CONTENT BLOCK CODE -->
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
