{% extends "template.html" %}
{% block content %}
    <h1>Welcome to Flask-Polls</h1>
    <br/>
    <h2>Current Poll</h2>
    <br>
    <h3>{{ poll.question }}</h3>
    <p>Click on a choice to vote!</p>
    <div class="datagrid">
    <table>
        {% if poll.choices %}

        <tr>
         {% for choice in poll.choices %}
        <th>Choice</th>
            <td width="200">{{ choice.choice_text }}</td>
            <td> <a href="{{ url_for('vote',
                         choice_id = choice.id) }}">Vote</a></td>
        </tr>
           {% endfor %}
          </table>
    </div>
    {% else %}
        <p>No choices in current poll.</p>
    {% endif %}
{% endblock %}


<!--
QUERIES
>>> p
<Poll u'You got a phone number?'>
>>> p.choices
[<Choice u'YESS!'>, <Choice u'NEVER!'>]
>>> for c in p.choices:
...     print c.id
...
5
6
>>>
-->
