<html>
  <head>
    <title>Welcome to Flask-Polls</title>
    <link rel="stylesheet" href="{{ url_for('static',
                                    filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',
                                    filename='mystyles.css') }}">
  </head>
  <body>
    <div class="page">
    <!-- FLASH MESSAGES CODE -->
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        <br/>
      {% endfor %}
    <!-- ERROR MESSAGES CODE -->
      {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
      {% endif %}
    <!-- PAGE CONTENT BLOCK CODE -->
      {% block content %}
      {% endblock %}
      <br/>
      <a href="/">Return to home.</a>
    </div>
  </body>
</html>
