{% extends "admin_template.html" %}

{% block content %}
    <h1>Welcome to Flask-Polls</h1>
    <br/>
    <h2>Change Poll</h2>
    <br>
    <h3>{{ poll.question }}</h3>
    <p>Edit choices</p>
      {% if poll.choices %}
      <ul>
          {% for choice in poll.choices %}
             <li>Original text: {{ choice.choice_text }}</li>
             <br/>
          {% endfor %}
      </ul>
      {% else %}
        <p>No choices in current poll.</p>
      {% endif %}
    <p>there should be a form below</p>
         <form method="post" action="{{ url_for('update', poll_id=poll.id) }}">
            <p>{{ form.choice_one.label }}:{{ form.choice_one }}<br/></p>
            <p>{{ form.choice_two.label }}:{{ form.choice_two }}<br/></p>
            <p><input type="submit" value="Submit"></p>
         </form>
{% endblock %}
